.reset {
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
}

.reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: black;
}

.reset__btn {
    cursor: pointer;
}

.reset div {
    margin-top: 7px;
}

.title {
    font-size: 2vw;
    margin-bottom: 15px;
}