.header {
    padding-top: 15vh;
    font-size: 11vh;
}

.choices {
    margin-top: 0px;
    font-size: 4vh;
}

.choices:hover {
    cursor: pointer;
    color: rosybrown;
}

.start-flex {
    vertical-align: middle;
    display: flex; 
    flex-direction: column;
    align-content: center;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }